body {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.Todo-item:hover .trash-icon{
  display: block;
}

/* .Overdue:hover .trash-icon{
  display:block;
}

.Due-Today:hover .trash-icon{
  display: block;
}

.Due-Later:hover .trash-icon{
  display: block;
} */