body {
  margin: 0px;
  font: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(-45deg,#7f7fd5,#91eae4);

  width: 100vw;
  height: 100vh;

  background-color: rgb(172, 142, 232);
  background-size: 500% 500%;
  height: 500vh;
  animation: gradient 15s ease infinite;
  cursor: pointer;
  background-position: center;
  position: relative;
  display: inline-block;
}

@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }

  
}
.Todo-Item{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.Todo-Item:hover{
  border: none;
  padding: 2px;
  color: #e18b8b;
  border: none;
  cursor: pointer;
  transition: opacity 3s ease, visibility 0.3s ease;
  transform: translateY(-10px);
}

.Todo-Item:hover .trash-icon {
  display: block;
  scale: 1.2;
}
